html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: white;
}


body {
  //margin: 1em;
  font-family: 'Hiragino Kaku Gothic Pro','游ゴシック体','Yu Gothic',YuGothic,Meiryo,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
	transition: background-color 0.35s linear;
}
button {
  width: 7em;
  height:3em;
}

h1 {
  font-size: 1.6em;
  border: solid #000;
  border-width: 0 0 1px 0;
}
iframe {
  max-width: 100%;
  overflow-x: scroll-x;
}
p>span {
  font-weight: bold;
}
p{
    //color: #0083e8;
    font-size: 40px;
}
img{
	hight:100%;
	width:auto;
}