html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: white;
}


body {
  //margin: 1em;
  //font-family: 'Sacramento', cursive;
	transition: background-color 0.35s linear;
	text-align: center;

	background: linear-gradient(120deg, #f9fcff, #bde5ff, #e0f7fa);
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
}

button{
	font-family: 'Hangyaku', sans-serif;
	border-radius: 70%;
  line-height: 0px;
  width: 70px;
  height: 70px;
  padding: 0;
	border: none;
	color: #fff;
	font-size:30px;
	
}

.media {
  width: 500px;
  height: 250px;
}

h1 {
  font-size: 1.6em;
  border: solid #000;
  border-width: 0 0 1px 0;
}
iframe {
  max-width: 100%;
  overflow-x: scroll-x;
}
p>span {
  font-weight: bold;
}
p{
    //color: #0083e8;
    font-size: 20px;
}
