/*html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: white;
}*/

body {
  //margin: 1em;
  font-family: 'Sacramento', cursive;
	transition: background-color 0.35s linear;
	text-align: center;
}

button{
	font-family: 'Sacramento', cursive;
	border-radius: 70%;
  line-height: 0px;
  width: 70px;
  height: 70px;
  padding: 0;
	border: none;
	//color: #fff;
	font-size:30px;
	
}

p{
    //color: #0083e8;
    font-size: 40px;
}
html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: white;
}


body {
  //margin: 1em;
  font-family: 'Hiragino Kaku Gothic Pro','游ゴシック体','Yu Gothic',YuGothic,Meiryo,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
	transition: background-color 0.35s linear;
}
.media {
  width: 200px;
  height: 100px;
}

h1 {
  font-size: 1.6em;
  border: solid #000;
  border-width: 0 0 1px 0;
}
iframe {
  max-width: 100%;
  overflow-x: scroll-x;
}
p>span {
  font-weight: bold;
}
p{
    //color: #0083e8;
    font-size: 20px;
}
